POSTGRES_USER=escribe_tu_usuario_aqui
POSTGRES_PASSWORD=escribe_tu_contraseña_segura_aqui
POSTGRES_DB=escribe_nombre_base_datos_aqui
DB_HOST=postgres
DB_PORT=5432
JWT_SECRET=genera_con_openssl_rand_base64_64
JWT_REFRESH_SECRET=genera_con_openssl_rand_base64_64